# Compiled source #
###################
a*/*.o
a*/*.out
dbfiles/
tpch-dbgen/

*.bin
*.bin.meta
*.tbl
*.tmp


# Valgrind files #
*vgcore*

# Editors #
###########
.vscode

# Packages #
############
*.zip
*.tar.gz
*.tgz
